Source: pkgloader
Section: python
Priority: optional
Maintainer: Marko Kreen <markokr@gmail.com>
Standards-Version: 3.9.2
Build-Depends: debhelper, python-all, python3-all
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.1

Package: python-pkgloader
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Loader for versioned packages
 .

